<h3 id="info">building ...</h3>

<table style="width:100%">
    <tr>
      <th>name</th>
      <th>description</th>
      <th>years active</th>
      <th>status</th>
    </tr>
    <tr>
      <td>seenons</td>
      <td>| web: waste management platform for the circular economy</td>
      <td>2020-</td>
      <td>hiring</td>
    </tr>
    <tr>
        <td>careplanner</td>
        <td>| web: home care platform in the Netherlands</td>
        <td>2016-17</td>
        <td>shut down</td>
      </tr>
    <tr>
        <td>bumped</td>
        <td>| ios: meet up with friends that might be around when you are travelling</td>
        <td>2016</td>
        <td>shut down</td>
      </tr>
    <tr>
      <td>smaart</td>
      <td>| web: reserve tables at restaurants in rotterdam during off-peak hours,
          with a 30% discounts on the bill.</td>
        <td>2015-16</td>
      <td>shut down</td>
    </tr>

  </table>